body {
    background-color: #f2f3ae;
    color: #020122;
    font-family: Raleway, sans-serif;
}

.iwButton {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #edd382;
    background-color: #f2f3ae;
}

.iwPrimary {
    background-color: #fc9e4f;
}
